<html>
<head>
	<title>HTML Assignment</title>
</head>
<body>
  <div class="container">
    <div class="col">
	<table border="1">
		<tr>
			<td>hello</td>
			<td>world</td>
		</tr>
		<tr>
			<td>goodbye</td>
			<td>world</td>
		</tr>
	</table>
  </div>
    <div class="col">
    <hr>
  	<form action="assignment/show" method="post">
  		Name:<br> <i class="icon-star"></i><input type="text" name="fname"><br>
  		<input type="checkbox" name="name_check" value="is_checked">Check me out<br>
  		<input id="b1" type="submit" name="name_button" value="Submit Name">
  	</form>
  </div>
  <div class="col">
    <hr>
  	<form action="assignment/show" method="post">
  		Age:<br> <i class="icon-calendar"></i><input type="text" name="age"><br>
  		<input type="checkbox" name="age_check" value="is_checked">Check me out<br>
  		<input id="b2" type="submit" name="age_button" value="Submit Age">
  	</form>
  </div>
</div>
</body>
</html>
