<head>
  <link rel="stylesheet" href="../../assets/bootstrap.css">
  <link href="../../assets/bootstrap-responsive.css" rel="stylesheet">
  <link href="../../assets/custom.css.scss" rel="stylesheet">
  <title>The Word</title>
</head>