<div class="well well-small">
                <p><span class="badge badge-info">1</span>ROW!<span class="badge badge-info">2</span>RIDE!<span class="badge badge-info">3</span>RUN!<span class="badge badge-info">4</span>I figured I should make the sidebar a little longer so it looks a little nicer. I like the background color. I'm just filling up more space.<span class="badge badge-info">5</span>One last badge</p>
</div>   